
.code { background-color: #F9F2F4; color: #C7254E; font-family: $fnt_Mono; }
.klk {cursor: pointer; }

.leAlign {text-align: center; }
.leMarine { color: #428BCA; }

.leBlkAncho { display: block; position: relative; }
.leBlkImg { display: block; position: relative; left: 42%; }

